In [1]:
import pandas as pd

In [9]:
vel= pd.read_csv("/home/harini/features/output.csv")

In [10]:
vel

      video_id   velocity
0         1267   4.023274
1         1685   0.875770
2           26  18.320091
3         2481   6.841187
4          761   6.868750
...        ...        ...
2207        94  17.827387
2208       301  13.798184
2209       493   7.867163
2210        23  12.245443
2211       141   7.767923

[2212 rows x 2 columns]

In [11]:
#bucket the velocities into 3 categories
vel['velocity']= pd.cut(vel['velocity'], bins=3, labels=['low', 'medium', 'high'])

In [12]:
vel['transitions']=1

In [13]:
actions=pd.read_csv("/home/harini/features/actions.csv")

In [28]:
actions

,video_name,actions,video_id
0,2227_hYYf61mPg14.mp4,"{'spinning poi', 'sword fighting', 'riding or ...",2227
1,110_l'oreal paris_Elvive Wonder Water In-Showe...,error,110
2,1618_o6bjjr51tGc.mp4,error,1618
3,1134_rwIDSbULV2w.mp4,"{'folding napkins', 'carrying baby', 'checking...",1134
4,1053_QUyzDp7qt4Q.mp4,error,1053
...,...,...,...
2220,2590_Ai-GV-Mpa-E.mp4,error,2590
2221,20_walmart_Don't Miss Out.mp4,"{'garbage collecting', 'pushing cart', 'eating...",20
2222,31_the farmer's dog_Healthy Habits _ The Farme...,error,31
2223,2601_n5yLcPoQhpA.mp4,error,2601
2224,823_gf3yQ_5HVnM.mp4,"{'garbage collecting', 'driving car'}",823

In [32]:
import sqlite3
import pandas as pd
import sqlite3

db = "/home/harini/db_f.sqlite3"
#db="iiit-study2.sqlite3"
con = sqlite3.connect(db)

auth_user= pd.read_sql_query("SELECT * from auth_user", con)
form_brand= pd.read_sql_query("SELECT * from form_brand", con)
form_branddescqa= pd.read_sql_query("SELECT * from form_branddescqa", con)
form_branddescqa_video_description_option_out= pd.read_sql_query("SELECT * from form_branddescqa_video_description_option_out", con)
form_brandqa= pd.read_sql_query("SELECT * from form_brandqa", con)
form_consistencymodel= pd.read_sql_query("SELECT * from form_consistencymodel", con)
form_experience= pd.read_sql_query("SELECT * from form_experience", con)
form_experience_brand_recog= pd.read_sql_query("SELECT * from form_experience_brand_recog", con)
form_experience_brands_seen_options= pd.read_sql_query("SELECT * from form_experience_brands_seen_options", con)
form_experience_prod_used_options=  pd.read_sql_query("SELECT * from form_experience_prod_used_options", con)
form_experience_scene_seen= pd.read_sql_query("SELECT * from form_experience_scene_seen", con)
form_introduction= pd.read_sql_query("SELECT * from form_introduction", con)
form_introduction_brands_seen= pd.read_sql_query("SELECT * from form_introduction_brands_seen", con)
form_introduction_prod_used= pd.read_sql_query("SELECT * from form_introduction_prod_used", con)
form_popup= pd.read_sql_query("SELECT * from form_popup", con)
form_sceneqa= pd.read_sql_query("SELECT * from form_sceneqa", con)
form_surveyqa= pd.read_sql_query("SELECT * from form_surveyqa", con)
form_surveyqa_brand_recog= pd.read_sql_query("SELECT * from form_surveyqa_brand_recog", con)
form_userstage= pd.read_sql_query("SELECT * from form_userstage", con)
form_video= pd.read_sql_query("SELECT * from form_video", con)
form_videoscene= pd.read_sql_query("SELECT * from form_videoscene", con)
form_experience_videos= pd.read_sql_query("SELECT * from form_experience_videos", con)

cc_repeat_users = pd.read_sql_query("SELECT user_id FROM form_experience_videos INNER JOIN form_experience ON form_experience_videos.experience_id = form_experience.id where cc_v = video_id", con)
unique_brands = pd.read_sql_query("SELECT experience_id, count(distinct(brand_id)) from form_experience_videos INNER JOIN form_video ON form_experience_videos.video_id = form_video.id group by experience_id", con)
completed = pd.read_sql_query("SELECT user_id FROM form_userstage where stage > 70", con)['user_id'].tolist()

con.close()

In [37]:
form_video

,id,name,brand_id,src,length,desc,title
0,1,1_redbull_Red Bull_ Whale.mp4,129,https://cognitivestudy.blob.core.windows.net/v...,15000,Red Bull: Whale Discover all the cartoons char...,Red Bull: Whale
1,2,2_autozone_AutoZone Commercial 2021_ Frustrati...,177,https://cognitivestudy.blob.core.windows.net/v...,15020,AutoZone Commercial 2021: Frustration Fix Find...,AutoZone Commercial 2021: Frustration Fix Finder
2,3,3_sap concur_Concur Expense in a Flash.mp4,47,https://cognitivestudy.blob.core.windows.net/v...,33510,Concur Expense in a Flash Simplify your compan...,Concur Expense in a Flash
3,4,4_oakley_Oakley _ Lamar Jackson _ Be Who You A...,230,https://cognitivestudy.blob.core.windows.net/v...,15020,"Oakley | Lamar Jackson | Be Who You Are ""No ma...",Oakley | Lamar Jackson | Be Who You Are
4,5,5_brainly(is it tech sector b2c)_Brainly. For ...,137,https://cognitivestudy.blob.core.windows.net/v...,29190,"Brainly. For students, by students. Brainly is...","Brainly. For students, by students."
...,...,...,...,...,...,...,...
2813,3323,example,70,www.example.com,0,Newmont’s goal is to invest in and build a wor...,Why Candice Likes Working for Newmont Australia
2814,3324,example,70,www.example.com,0,Newmont’s goal is to invest in and build a wor...,Why Angela Likes Working at Newmont Australia
2815,3325,example,102,www.example.com,0,The fourth and final episode of our video seri...,Electric Vehicles: Fact vs. Fiction (Part Four...
2816,3326,example,102,www.example.com,0,The last time our planet had this much CO₂ in ...,Adapting for Tomorrow: Powering a Resilient Fu...
2817,3327,example,102,www.example.com,0,The second episode of our video series “EVs: F...,Electric Vehicles: Fact vs. Fiction (Part Two)...

In [27]:
#get the video ids
actions['video_id']= actions['video_name'].str.split('_').str[0]

In [29]:
actions['video_id']= actions['video_id'].astype(int)

In [30]:
video_feats= pd.merge(vel, actions, on='video_id')

In [39]:
video_feats

,video_id,velocity,transitions,video_name,actions,id,title,desc
0,1267,low,1,1267_uvaYC_0SkDI.mp4,error,1267,Home Exterior Color Tips - Sherwin-Williams,Home Exterior Color Tips - Sherwin-Williams Th...
1,1685,low,1,1685_qpkuwb_m47U.mp4,error,1685,Maleficent - In Theaters May 2014,Maleficent - In Theaters May 2014 Maleficent i...
2,26,medium,1,26_chanel_N°5 Comes in Red for a Limited Editi...,error,26,N°5 Comes in Red for a Limited Edition – CHANE...,N°5 Comes in Red for a Limited Edition – CHANE...
3,2481,low,1,2481_SolirGJo4MI.mp4,error,2481,Roofing: Duration FLEX™ Granule Adhesion Test,Roofing: Duration FLEX™ Granule Adhesion Test ...
4,761,low,1,761_00STtvbodn8.mp4,"{'pushing cart', 'dancing macarena', 'dancing ...",761,"You’ll want it all, at prices that’ll help you...","You’ll want it all, at prices that’ll help you..."
...,...,...,...,...,...,...,...,...
2210,285,low,1,285_carrabbas italian grill_Carrabba's Italian...,"{'barbequing', 'dining'}",285,Carrabba's Italian Roots,Carrabba's Italian Roots Enjoy Italian food th...
2211,287,low,1,287_the farmer's dog_The Sound of Real Food by...,"{'dining', 'grooming dog'}",287,The Sound of Real Food by The Farmer's Dog,The Sound of Real Food by The Farmer's Dog Fou...
2212,189,medium,1,189_gucci_FOREVERGUILTY Gucci Guilty Male Frag...,"{'doing laundry', 'watering plants', 'stomping...",189,#FOREVERGUILTY Gucci Guilty Male Fragrance | I...,#FOREVERGUILTY Gucci Guilty Male Fragrance | I...
2213,474,medium,1,474_kohl's_Michael King - Kohl’s _Spring Into...,{'hopscotch'},474,"Michael King - Kohl’s ""Spring Into Action""","Michael King - Kohl’s ""Spring Into Action"" Th..."
2214,144,medium,1,144_mcdonalds_Food At Home I McDonald's.mp4,error,144,Food At Home I McDonald's,Food At Home I McDonald's Mom always says ther...

In [38]:
video_feats=pd.merge(video_feats, form_video[['id','title','desc']], left_on='video_id', right_on='id')

In [40]:
video_feats.to_csv("/home/harini/vid-behaviour/data/video_feats.csv")

In [6]:
scenes= pd.read_csv('/home/harini/features/scene_duration.csv')

In [8]:
scenes=scenes[['Video id','Scene Number','Start Time (seconds)','End Time (seconds)','Length (seconds)']]

In [41]:
scenes

,Video id,Scene Number,Start Time (seconds),End Time (seconds),Length (seconds)
0,2227,1,0.000,0.667,0.667
1,2227,2,0.667,1.835,1.168
2,2227,3,1.835,2.920,1.084
3,2227,4,2.920,4.129,1.210
4,2227,5,4.129,5.172,1.043
...,...,...,...,...,...
29162,823,9,17.918,19.586,1.668
29163,823,10,19.586,20.354,0.767
29164,823,11,20.354,22.122,1.768
29165,823,12,22.122,26.560,4.438
29166,823,13,26.560,30.430,3.871